# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: format
        name: format js files
        entry: make format
        language: system
        pass_filenames: false
      - id: format-uc-doc
        name: format uc-doc markdown files
        entry: make format-uc-doc
        language: system
        pass_filenames: false
