# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.7.1'
    hooks:
      - id: prettier
        args: ['--config', '.prettierrc']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.7.1'
    hooks:
      - id: prettier
        alias: prettier-uc-doc
        name: 'prettier formatting for uc-doc documents'
        args: ['--config', '.prettierrc', '--prose-wrap', 'always']
        files: '^(content/uc-doc|website)/.+?\.md$'
        types_or: [markdown]
