services:
  # Use to build project
  doc:
    build:
      dockerfile: beta.Dockerfile
    ports:
      - '3000:3000'
    working_dir: /app/website
    volumes:
      - ./website:/app/website
      - ./static:/app/website/static:ro
