$green: #80c400;
.main {
  
  h1, h2, h3{
    font-weight: normal;
  }

  #header {
    background: $green;
    z-index: 11;
    .main-nav .navbar-toggler {
      margin-top: 15px;
      margin-bottom: 15px;
      background: rgba(0,0,0,.1);
    }
  }

  #promo{
    .btn-cta-secondary {
      color: #444;
      background: #FC0;
      border: none;
    }
    .btn-cta-primary {
      background: #444;
      border: none;
    }
  }

  #about, #features, #license{
    .fas{
      font-size: 36px;
    }
    .icon-holder{
      left: 20px;
    }
    h3.sub-title{
      color: #444;
    }
    color: #666;
    font-size: 18px;
    li {
      color: #666;
    }
    .small {
      font-size: 1em;
      color: #aaa;
    }
    h2{
      color: #444;
      font-weight: normal !important;
      font-size: 48px;
    }
  }

  .col-wrapper{
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    &.one{
      padding-bottom: 20px;
    }
    .coll {
      flex: 1 40%;
      padding: 0 15px;
    }
  }

  #wazo-platform {
    transition: opacity .2s linear;
    width: 50%;
    @media (min-width: 767px) {
      width: 25%;
    }
    height: auto; 
    padding: 20px 0 60px;
  }

  #promo {
    padding-bottom: 50px;
    background: linear-gradient(to bottom, $green 100px, #509400 100%);
  }

  #about {
    h3{
      font-weight: bold;
      font-size: 1.4em;
      color: #666 !important;
    }
    .icon-holdr{
      text-align: center;
      margin-bottom: 20px;
      .fas {
        font-size: 48px;
      }
    }
  }

  #features {
    background: #ddd;
  }

  #license {
    background: transparent;
  }

  #contact {
    background: #444;
    h2{
      color: #fff;
    }
    h3 {
      font-size: 1.2em;
      color: #aaa;
      font-weight: normal;
    }
    h4{
      margin-top: 30px;
      color: #fff;
    }
    font-size: 16px;
    a {
      font-weight: bold;
      color: $green;
    }

    .contact-inner {
      max-width: 968px;
    }
  }

  #contact li.list-inline-item i {
    padding-top: 12px;
    display: block;
    color: white;
  }

  .footer {
    background: #222;
    a {
      color: $green;
      font-weight: bold;
    }
  }
}

#wazo-platform-nav {
  margin-top: 8px;
  width: 150px;
  height: auto;
  .home & {
    opacity: 0;
  }
  .home.navbar-fixed-top &{
    opacity: 1;
  }
  transition: opacity .2s linear;
}

header{
  .main &.header{ padding: 0 };
  
  .main-nav .nav .nav-item .nav-link {
    color: #fff !important;
    text-transform: uppercase;
    padding: 20px 10px !important;
    &.active{
      background: rgba(0,0,0,.1) !important;
    }
  }
}



body.documentation {
  .main-nav .nav .nav-item .nav-link[href="/documentation"] {
    background: rgba(0,0,0,.1) !important;
  }
}

.navbar-fixed-top{
  header{
    box-shadow: none !important;
  }
  #wazo-platform {
    opacity: 0;
  }
}
