
.provisioning-phone,
.provisioning-vendors,
.provisioning-vendor {
  .card {
    margin-bottom: 20px;
    a.card-header {
      color: #777;
    }
    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 25vw;
      padding: 20px;
      a {
        display: block;
        text-align: center;
        width: 75%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.provisioning-vendors {
  .vendor {
    a.title {
      text-align: center;
      margin-top: 2px;
      text-transform: uppercase;
      display: block;
      padding: 8px;
      color: #444;
      font-size: 1.2em;
      background: #e8e8e8;
    }
    .phones {
      width: 100%;
      padding: 0 0 0 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      div{
        flex: 0 20%;
        &.selected {
          flex: 0 100%;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          > a{
            display: none;
            margin-bottom: 0;
            color: #444;
            font-weight: bold;
            font-size: 1.2em;
            letter-spacing: 0.2em;
            border-right: none;
            background-color: #fff;
            
          }
        }

        > a {
          color: #444;
          border-right: 1px solid #ccc;
          display: block;
          text-align: center;
          padding: 15px;
        }

        .slide {
          display: flex;
          align-items: center;
          flex: 0 100%;
          background-color: #fff;
          .image {
            flex: 0 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .name {
              font-weight: bold;
              margin-bottom: 20px;
              font-size: 1.2em;
            }
            img{
              max-width: 100%;
              height: auto;
            }
          }
          .content {
            table.table {
              width: 100%;
              thead{
                th {
                  border-top: 0 none;
                }
              }
            }
            flex: 0 100%;
            padding: 20px;
          }
        }
      }
    }
  }
}

.provisioning-phone {
  .col-card {
    display: flex;
    align-items: stretch;
    .card{
      margin-bottom: 0;
      width: 100%;
    }
  }
  pre {
    white-space: pre;
    margin-bottom: 0;
  }
  .row {
    align-items: stretch;
  }
}
