$green: #98c451;
$fakeDarkGray: #515454;
$fakeBlack: #404343;

body {
  background: #f9f9fb;
}
p,
ul,
ol {
  margin-bottom: 18px;
}
p {
  line-height: 25px;
}

ul,
ol {
  margin-left: 0px;
  padding-left: 20px;

  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

code {
  color: #2a2f45;
}

/* may be overriding too aggressively */
pre {
  background: #333;
  color: #ccc;
  border-radius: 0.3em;
  padding: 20px;
  white-space: normal;
}

.main {
  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4 {
    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 30px;
    margin: 40px 0 20px;
  }

  h2 {
    font-size: 25px;
    margin: 35px 0 20px;
  }

  h3 {
    font-size: 22px;
    margin: 25px 0 18px;
  }

  h4 {
    font-size: 18px;
    margin: 20px 0 18px;
  }

  .page-title {
    padding: 80px 0 20px 0;
    background: $fakeDarkGray;

    .container {
      position: relative;
    }

    .page-title-date {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    h1,
    h2,
    h3,
    p {
      transition: 350ms ease opacity;
      color: #fff;
      font-size: 2em;
      padding: 0;
      margin: 0;
    }

    a {
      color: #bbb;
    }
  }

  #header {
    background: $green;
    z-index: 11;
    .container {
      position: relative;
    }

    .main-nav {
      .navbar-toggler {
        margin-top: 15px;
        margin-bottom: 15px;
        background: rgba(0, 0, 0, 0.1);
      }

      .nav-item {
        margin-bottom: 0;
      }
    }
  }

  #promo {
    .btn-cta-secondary {
      color: $fakeDarkGray;
      background: #fc0;
      border: none;
    }
    .btn-cta-primary {
      background: $fakeDarkGray;
      border: none;
    }
  }

  #three,
  #why,
  #about,
  #features,
  #license {
    .fas {
      font-size: 36px;
    }
    .icon-holder {
      left: 20px;
    }
    h3.sub-title {
      color: #444;
    }
    color: #666;
    font-size: 18px;
    li {
      color: #666;
    }
    .small {
      font-size: 1em;
      color: #aaa;
    }
    h2 {
      color: #444;
      font-weight: normal !important;
      font-size: 48px;
    }
  }

  .col-wrapper {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    &.one {
      padding-bottom: 20px;
    }
    .coll {
      flex: 1 40%;
      padding: 0 15px;
    }
  }

  #wazo-platform {
    transition: opacity 0.2s linear;
    width: 50%;
    @media (min-width: 768px) {
      width: 25%;
    }
    height: auto;
    padding: 20px 0 60px;
  }

  #promo {
    padding-bottom: 50px;
    background: linear-gradient(to bottom, $green 100px, #509400 100%);
  }

  #why {
    background: $fakeDarkGray;
    padding: 60px 0 20px;
    color: #ccc;
    h2 {
      color: #fff;
    }
  }

  #about {
    padding: 70px 0 30px;
    background: #fff;
    #technical-layers {
      text-align: center;
      padding: 30px 14px;
      img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
  }

  #three {
    background: #e4e4e4;
    h3 {
      font-weight: bold;
      font-size: 1.4em;
      color: #666 !important;
    }
    p {
      margin-bottom: 0;
    }
  }

  #license {
    background: #ccc;
  }

  #contact li.list-inline-item i {
    padding-top: 12px;
    display: block;
    color: white;
  }
}

#wazo-platform-nav {
  position: absolute;
  top: 0;
  left: 15px;
  margin-top: 8px;
  width: 150px;
  height: auto;
  .home & {
    opacity: 0;
  }
  .home.navbar-fixed-top & {
    opacity: 1;
  }
  transition: opacity 0.2s linear;
}

.main header.header {
  padding: 0;

  .navbar-collapse {
    background: $green !important;
  }

  @media (min-width: 576px) {
    .container {
      max-width: none;
    }
  }

  .main-nav {
    @media (min-width: 989px) {
      float: right;
    }

    // When search is enabled
    &.main-nav-search-enabled .nav {
      .nav-item {
        opacity: 0;
        pointer-events: none;

        &.nav-item-search {
          opacity: 1;
          pointer-events: visible;

          .main-search-box {
            opacity: 1;
            pointer-events: visible;
          }
        }
      }
    }

    .nav {
      @media (min-width: 992px) {
        padding-top: 0px;
      }

      .nav-item {
        transition: 250ms ease opacity !important;
        margin-right: 0;

        @media (min-width: 992px) {
          border-bottom: 0 none;
        }

        .nav-link {
          transition: 250ms ease background !important;
          color: #fff !important;
          text-transform: uppercase;
          padding: 20px 20px !important;
          text-decoration: none;

          &:hover,
          &:active {
            background: rgba(0, 0, 0, 0.05) !important;
          }
          &.active {
            background: rgba(0, 0, 0, 0.2) !important;
          }
        }

        // Search in nav
        &.nav-item-search {
          position: relative;
          text-align: right;

          > i {
            margin-right: 2px;
          }

          .main-search-box {
            transition: 250ms ease opacity;
            pointer-events: none;
            position: absolute;
            left: -415px;
            width: 400px;
            top: 50%;
            padding: 0 !important;
            box-sizing: border-box;
            transform: translate(0, -50%);
            opacity: 0;

            .form-control {
              transition: 250ms ease all;
              background: $fakeBlack;
              color: #fff;
              outline: 0;
              box-shadow: none;
              border: none;
              width: 100%;

              &:focus {
                background: #222;
              }
            }
          }
        }
      }
    }
  }
}

section.console {
  pre {
    background: rgba(0, 0, 0, 0.05);
  }
  .loading {
    height: 50vh;
    display: flex;
    align-items: 50%;
    justify-content: 50%;
  }
}

body.documentation {
  .main-nav .nav .nav-item .nav-link[href='/documentation'] {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}

.container.principal {
  padding-top: 40px;
  padding-bottom: 70px;
  &.ecosystem h2 {
    margin: 1em auto 0.8em;
  }
}

.navbar-fixed-top {
  header {
    box-shadow: none !important;
  }
  #wazo-platform {
    opacity: 0;
  }
}

.footer {
  background: $fakeBlack;
  text-align: left;
  padding: 0 !important;

  a,
  #contact a {
    color: $green;
    font-weight: bold;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline 2px $green;
    }
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  #contact {
    background: $fakeDarkGray;
  }

  .small-print {
    padding: 10px 0;
    background: $fakeBlack;
    color: #999;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.blog {
  min-height: 60vh;
  .filter {
    font-style: italic;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    a {
      font-weight: bold;
      display: block;
      font-style: normal;
      color: #98c451;
    }
  }
  .articles {
    .item {
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      .hilite {
        color: #444;
      }
      a.title {
        color: #333;
        font-size: 1.8em;
      }
      .summary {
        margin: 10px 0 15px;
      }
      .head {
        color: #999;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.article {
  .container.main {
    padding: 50px 15px 70px;
  }

  .article--content {
    code {
      padding: 3px 6px;
      border-radius: 6px;
      background-color: rgba(27, 31, 35, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.05);
    }

    blockquote {
      border-left: 4px solid $fakeDarkGray;
      background-color: #eaeaea;
      padding: 10px 15px;
      width: fit-content;

      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    img {
      box-sizing: border-box;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
      border: 1px solid #EEE;
    }
    img[alt~='(small)'] {
      max-width: 33%;
    }
    img[alt~='(small-centered)'] {
      max-width: 33%;
      margin: 0 auto;
      display: block;
    }

    a {
      transition: none;
      color: #212327;
      text-decoration: underline 1px #212327;

      &:hover,
      &:active {
        color: #000;
        text-decoration: underline 2px #98c451;
      }
    }
  }

  .article--content--footer {
    color: #999;
    padding: 29px 25px 25px 135px;
    background: #eee;
    margin-top: 40px;
    border-radius: 5px;
    max-width: 700px;
    position: relative;
    min-height: 140px;

    &::before {
      content: '';
      width: 90px;
      height: 90px;
      position: absolute;
      top: 25px;
      left: 25px;
      background: #98c451 url(../../../src/assets//logo.square.svg) center no-repeat;
      background-size: 60%;
      border-radius: 100px;
    }

    .article--content--footer-author {
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      margin-bottom: 2px;
      display: inline-block;
      color: #212327;
    }

    p {
      font-size: 13px;
      margin: 0;
    }

    .tags a {
      display: inline-block;
      margin-right: 8px;

      &::after {
        content: ', ';
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}

.tutorials {
  min-height: 60vh;

  .tutorials-items {
    padding: 30px 0;

    .tutorials-items-item {
      transition: 350ms ease box-shadow;
      display: block;
      padding: 30px 30px 30px 260px;
      background-color: #fff;
      border-radius: 4px;
      text-decoration: none;
      color: #333;
      position: relative;

      &:hover,
      &:active {
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);

        .title {
          color: #000;
        }
        .thumbnail::after {
          opacity: 1;
        }
      }

      .thumbnail {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 230px;
        background-color: #999;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px 0 0px 4px;

        &::after {
          transition: 350ms ease opacity;
          opacity: 0;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          background-color: rgba($green, 25%);
          border-radius: 4px 0 0px 4px;
        }
      }

      .title {
        color: #333;
        font-size: 1.3em;
        margin: 0 0 15px;
      }

      .summary {
        margin: 0 0 10px;
        color: #333;
        font-size: 0.9em;
      }

      .author {
        color: #888;
        margin-bottom: 0;
        position: relative;
        padding-left: 30px;
        font-size: 0.9em;

        &::before {
          content: '';
          width: 22px;
          height: 22px;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translate(0, -50%);
          background: #98c451 url(../../../src/assets/logo-bird-only.svg) 55% 50% no-repeat;
          background-size: 12px;
          border-radius: 25px;
        }
      }
    }
  }
}

// Basic layout
// ---------
.main-content {
  display: flex;
  justify-content: space-between;

  // Menu left & content right
  &.main-content-on-right-side {
    .main-content-left-col {
      width: 28.33%;
    }
    .main-content-right-col {
      width: 66.66%;
    }
  }

  // Menu right & content left
  &.main-content-on-left-side {
    .main-content-left-col {
      width: 66.66%;
    }
    .main-content-right-col {
      width: 33.33%;
    }
  }
}

// Small Desktop
// ----------
@media only screen and (max-width: 1199px) {
  .main header.header {
    .main-nav .nav .nav-item .nav-link {
      padding: 20px 15px !important;
      font-size: 13px;
    }
  }
}

// Mobile
// ----------
@media only screen and (max-width: 989px) {
  .main header.header {
    .main-nav {
      // Remove search overlay
      &.main-nav-search-enabled .nav {
        .nav-item,
        &.nav-item-search,
        &.nav-item-search .main-search-box {
          opacity: 1;
          pointer-events: visible;
        }
      }

      .nav {
        display: flex;

        &.navbar-nav {
          margin-left: 0 !important;
        }

        .nav-item {
          .nav-link {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
          }

          // Search item
          &.nav-item.nav-item-search {
            order: -1;
            text-align: left;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);

            > a {
              display: none;
            }

            .main-search-box {
              opacity: 1;
              position: relative;
              left: inherit;
              top: inherit;
              width: calc(100% - 30px);
              transform: none;
              margin: 20px 15px;
              box-sizing: border-box;
              pointer-events: visible;
            }
          }
        }
      }
    }
  }
}

// Small Mobile
// ----------
@media only screen and (max-width: 767px) {
  .main-content {
    display: flex;
    flex-direction: column;

    &.main-content-on-left-side {
      flex-direction: column-reverse;
    }

    // Menu left & content right
    &.main-content-on-right-side,
    &.main-content-on-left-side {
      .main-content-left-col,
      .main-content-right-col {
        width: 100%;
      }
    }
  }
}

// Secondary navigation
// -------
.secondary-navigation {
  border: 1px solid $fakeDarkGray;
  margin-bottom: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: hidden;
  background: #fff;

  .secondary-navigation-empty {
    text-align: center;
    padding: 50px 0;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    color: #ccc;
    font-style: italic;
  }

  a {
    transition: 350ms ease all;
  }

  h2 {
    font-size: 1.05rem;
    padding: 10px 15px 0;
    font-weight: bold;
    color: #666;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      margin-bottom: 0;
    }

    li.secondary-navigation-submenu {
      &.open {
        > ul {
          max-height: inherit;
        }
        > a {
          color: #085b77;
          &:after {
            transform: translate(0, -50%) rotate(180deg);
          }
        }
      }

      > ul {
        overflow: hidden;
        max-height: 0;
      }

      // Submenu parent link
      > a {
        position: relative;
        display: block;

        &:after {
          content: '';
          background: url(/images/icons/chevron-down-solid.svg) top left no-repeat;
          background-size: contain;
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }

    li {
      &.current > a {
        font-weight: bold;
        color: #085b77;
      }

      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }

      &:first-child a {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
      }
      &:last-child a {
        border-bottom: none;
      }

      // Second level
      ul {
        overflow: hidden;
        max-height: 0;

        li:first-child a {
          border-top: none;
        }
        li:last-child a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }

        a {
          background: #fafafa;
          padding-left: 25px;
        }

        // Third level
        ul {
          a {
            background: #f0f0f0;
            padding-left: 50px;
          }

          // Fourth level
          ul {
            a {
              background: #eaeaea;
              padding-left: 75px;
            }

            // Fifth level
            ul {
              a {
                background: #e0e0e0;
                padding-left: 100px;
              }
            }
          }
        }
      }
    }

    a {
      display: block;
      padding: 7px 15px;
      text-decoration: none !important;

      &:hover,
      &:active {
        color: #085b77;
      }
    }
  }
}

// UC Doc template
// ---------
.template-uc-doc {
  .main-content-right-col {
    img {
      height: auto;
      max-width: 100%;
    }

    h1 {
      font-size: 30px;
      margin-bottom: 30px;
    }

    h2 {
      color: #333;
      font-size: 23px;
      margin: 22px 0 10px;
    }

    h3 {
      color: #333;
      font-size: 19px;
      margin: 20px 0 10px;
    }

    h4 {
      color: #333;
      font-size: 17px;
      margin: 15px 0 10px;
    }

    pre {
      padding: 20px;
    }
    pre code {
      background: none !important;
    }

    // Inline code
    li > code,
    p > code {
      white-space: nowrap;
      max-width: 100%;
      background: #fff;
      border: 1px solid #e1e4e5;
      padding: 1px 5px;
      overflow-x: auto;
      border-radius: 4px;
    }

    ul {
      list-style-type: circle;
      padding-left: 19px;
    }
  }
}

// Table default styles
.template-uc-doc .main-content-right-col,
.article {
  table {
    border: 1px solid #e1e4e5;
    margin-bottom: 10px;

    td,
    th {
      padding: 5px 10px;
    }

    thead {
      color: #000;
      text-align: left;
      vertical-align: bottom;
      white-space: nowrap;

      td,
      th {
        background: #fff;
        border-bottom: 2px solid #e1e4e5;
        border-left: 1px solid #e1e4e5;
      }
    }

    tbody {
      td {
        border-bottom: 1px solid #e1e4e5;
        border-left: 1px solid #e1e4e5;
        background: #fff;
      }

      tr:nth-child(2n) td {
        background: #fafafa;
      }
    }

    code {
      white-space: nowrap;
    }
  }
}

// Autolink title anchor
// --------
.title-anchor.before {
  top: -2px;
  padding-right: 5px;
}
